body {

}

/* Custom container*/

.container {

}
.container > hr {
    margin: 20px 0 30px 0;
}

.content{
    background: rgba(255,255,255,0.5);
    box-shadow: rgba(0,0,0,0.7);
    border-radius: 10px;
}

/*----------------------------------------------------------------------------*/
ul,li{
    list-style: none;
}
.widget{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.widget ul{
    padding-left: 0;
}
.widgettitle{
    font-family: 'Cuprum', sans-serif;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-weight: 400;
    color: #747474;
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}
.category_more_button{

}