body {
    /*background: url("../img/leather_1.png");*/
    background: url("../img/creampaper.png");
/*    padding-top: 20px;
    padding-bottom: 60px;*/

}

/* Custom container*/

.container {
    margin: 0 auto;
    max-width: 1200px;
}
.container > hr {
    margin: 20px 0 30px 0;
}

.content{
/*    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 5px #bababa;*/
    padding: 15px;
    margin-top: 20px;
}

/*----------------------------------------------------------------------------*/
ul,li{
    list-style: none;
}
.widget{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.widgettitle{
    font-family: 'Cuprum', sans-serif;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-weight: 400;
    color: #747474;
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}
.category_more_button{
    /*float: left;*/
}