*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
a:focus{
    outline: none;
}
.container{
    padding: 0;
}
.container > hr {
    margin: 20px 0 30px 0;
}

#content{
    /*background: #e6e6e6;*/
}

/*----------------------------------------------------------------------------*/
ul,li{
    list-style: none;
}
.widget{
    /*font-family: 'Open Sans', sans-serif;
    font-weight: 400;*/
}
.widget ul{
    padding: 10px;
}
.widgettitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #747474;
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}
.category_more_button{

}