#post{
    min-height: 150px;
}
.attachment-thumbnail{
    float: left;
    margin: 0 10px 10px 0;
}
#post h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
#post h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
#post p{
/*    font-family: 'Open Sans', sans-serif;
    font-weight: 300;*/
/*    text-align: justify;*/
}